body{
    font-family: "Open Sans";
    color:darkblue;
    margin: 50px,100px,100px,50px;
    background-color: ivory;
}

h1,h2{
    font-family: "Oswald";
}
img{
    float:left;
    margin-right: 10px;
}